{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">{{ first_name }}</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
{% endblock %}

{% block landingPage %}
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h2>Profile data</h2>
    <p>First Name : {{ first_name }}</p>
    <p>Last Name : {{ last_name }}</p>
    <p>Date of Birth : {{ dob }}</p>
    <p>Gender : {{ gender }}</p>
    <p>Email : {{ email }}</p>
    <a class="btn btn-primary" href="{% url 'edit' %}">Edit</a>
  </div>
</div>
<!-- <script>
  document.addEventListener('DOMContentLoaded', function(){
    const editButton = document.getElementById('editButton');
    const submitButton = document.querySelector('#submitButton');
    const formFields = document.querySelectorAll('#editForm input, #editForm select');

    function toggleFormFieldsDisabled(){
      for (const field in formFields){
        field.disabled = !field.disabled;
      }
      submitButton.hidden = !submitButton.hidden;
      editButton.hidden = !editButton.hidden;
    }

    editButton.addEventListener('click', function(){
      toggleFormFieldsDisabled();
    });
  });
</script> -->
{% endblock %}